node_modules/
package-lock.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
tmp/
temp/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

.debug
debug.log

coverage/

uploads/*
!uploads/.gitkeep

*.pid
*.seed
*.pid.lock